# Assignment 1 
### TarunSaiChowdary.Ponnam.BDAT1004PS2

## Question 1
Consider the following Python module: 
a = 0  

def b():  
    global a  
    a = c(a)  
def c(a):  
    return a + 2  

After importing the module into the interpreter, you execute:  
" >>> b()  
" >>> b()  
" >>> b()  
" >>> a  
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

### Answer
> The "a" value is 6.  

The "b()" function call creates a new  namespace but the gloabl keyword will infer global "a" variable. Inside "b()" there is a function call for "c(a)" with paramater "a" (gloabal variable). "c(a)" function call creates a new namespace with "a" as a local local variable.  
> 1st b() call updates gloabal "a" value to 2.  
> 2nd b() call updates gloabal "a" value to 4.  
> 3rd b() call updates gloabal "a" value to 6.  
> "a" outputs value 6.

In [1]:
a = 0  
def b():  
    global a  
    a = c(a)  
def c(a):  
    return a + 2  

b()
b()
b()
a

6

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns.
the length of the file:  
> fileLength('midterm.py')  

As shown above, if the file cannot be found by the interpreter or if it cannot be read  
as a text file, an exception will be raised. Modify function fileLength() so that a  
friendly message is printed instead:  
> fileLength('midterm.py')  

358  

> fileLength('idterm.py')  
File idterm.py not found.

In [3]:
def fileLength(file_name):
    try: 
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File {} not found.".format(file_name))
    except:
        print("Exception occured while opening up the file: {}".format(file_name))

fileLength('midterm.py')
fileLength('idterm.py')

445
File idterm.py not found.

## Question 3
Write a class named Marsupial that can be used as shown below:  
> m = Marsupial()    
> m.put_in_pouch('doll')    
> m.put_in_pouch('firetruck')    
> m.put_in_pouch('kitten')    
> m.pouch_contents()  

['doll', 'firetruck', 'kitten']  
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:  
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,  
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and  
c. overloads the __str__ operator so it behaves as shown below.  
> k = Kangaroo(0,0)  
> print(k)  

I am a Kangaroo located at coordinates (0,0)  
> k.put_in_pouch('doll')  
> k.put_in_pouch('firetruck')  
> k.put_in_pouch('kitten')  
> k.pouch_contents()  

['doll', 'firetruck', 'kitten']  
> k.jump(1,0)  
> k.jump(1,0)  
> k.jump(1,0)  
> print(k)  

I am a Kangaroo located at coordinates (3,0)

In [16]:
class Marsupial:
    
    def __init__(self, x=None, y=None):
        self.list = []
        self.xCordinate = x
        self.yCordinate = y

    def put_in_pouch(self, item): 
        self.list.append(item)
    
    def pouch_contents(self):
        print(self.list)

class Kangaroo(Marsupial):

    def jump(self, dx, dy):
        self.xCordinate += dx
        self.xCordinate += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.xCordinate, self.yCordinate)

m = Marsupial()    
m.put_in_pouch('doll')    
m.put_in_pouch('firetruck')    
m.put_in_pouch('kitten')    
m.pouch_contents()

k = Kangaroo(0,0)  
print(k) 

k.put_in_pouch('doll')  
k.put_in_pouch('firetruck')  
k.put_in_pouch('kitten')  
k.pouch_contents()  


k.jump(1,0)  
k.jump(1,0)  
k.jump(1,0)  
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:  

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛  
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑  

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [21]:
def collatz(x):
    # recursive blocker
    print(x)
    if (x==1): return
    elif (x%2 == 0): 
        collatz(x//2)
    else: 
        collatz((3*x)+1)

collatz(10)

10
5
16
8
4
2
1

## Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
binary(0)
binary(1)
binary(3)
binary(9)

In [59]:

def binary(num):
    binaryString = ""
    if (num<0 or (not isinstance(num,int))): print ("Provide a posite integer")
    elif (num==0 or num == 1): 
        binaryString += str(num)
    else: binaryString = recursiveBinary(num,binaryString)
    print(binaryString)
        
def recursiveBinary(num,binaryString):
    remainder = num%2
    if (num==1):
        binaryString += str(num) 
        return binaryString
    else: 
        binaryString = recursiveBinary(num//2,binaryString)
        binaryString += str(remainder)
        return binaryString

binary(0)
binary(1)
binary(3)
binary(9)

## Did not pay attention to the parameters had to redo it again, with global keyword
# def binary(num,binaryString):
#     remainder = num%2
#     if (num<0 or (not isinstance(num,int))): print ("Provide a posite integer")
#     elif (num==1): 
#         return str(num)
#     else: 
#         binaryString = binary(num//2,binaryString)
#         binaryString += str(remainder)
#         return binaryString
#     print(binaryString)
        
# binary(20,"")

0
1
11
1001

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have

In [ ]:
from html.parser import HTMLParser

class MyParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        heading = ['h1','h2','h3','h4','h5','h6']
        global headingTags
        if(tag.lower in heading): 
            headingTags.append()

headingTags = []

In [1]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global heading
        global index
        heading = False
        headings = ['h1','h2','h3','h4','h5','h6']
        if(tag.lower() in headings):
            heading = True
            index = headings.index(tag.lower())
            paddingList.append(index)

    # def handle_endtag(self, tag):
    #     print("end tag :", tag)

    def handle_data(self, data):
        global heading
        if(heading):
            dataList.append(data)
            if(data and len(data)): 
                dataLength = len(data) + index
                string = data.rjust(dataLength," ")
                print(string)

heading = False
index = None
paddingList = []
dataList = []

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [24]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

def allLinks(url):
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

visited = set()
deep = None
indentation = None

def displayUrl(url,currentDepth):
    padding = len(url) + (currentDepth*indentation)
    string = url.rjust(padding," ")
    print(string)

def crawl(url,currentDepth):
    global deep

    #base condition
    if(currentDepth>deep): return
    
    displayUrl(url,currentDepth)

    # global visited
    
    # if url not in visited: 
    #     visited.add(url)

    links = allLinks(url)

    for link in links:
        try:
            crawl(link,currentDepth+1)
        except:
            pass


def webdir(url,depth,indent):
    if(depth<0 or indent<0):
        raise ValueError('Depth and Indentation cannot be negative')
    
    if not (isinstance(depth, int) and isinstance(indent, int)): 
        raise ValueError('Depth and Indentation should be non negative integers')
    
    global deep, indentation
    deep = depth
    indentation = indent

    crawl(url, 0)


url = 'http://reed.cs.depaul.edu/lperkovic/test1.html'
webdir(url,2,4)

http://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    http://reed.cs.depaul.edu/lperkovic/test3.html
        http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.

In [ ]:
 !pip install ipython-sql
 !pip install mysql-connector-python
 #clearing the cluter, hence removed this cell output.

In [101]:
import mysql.connector
# import sqlalchemy
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="!Q2w3e4r",
  database="viper"
)
print(mydb)
# engine = sqlalchemy.create_engine("mysql+mysqlconnector://root:!Q2w3e4r@localhost:3306/viper",echo=True)

<mysql.connector.connection.MySQLConnection object at 0x7fe6501761f0>

In [108]:
cur = mydb.cursor()
cur.execute("CREATE TABLE weather(City NVARCHAR(30), Country NVARCHAR(30), Season NVARCHAR(30), Temperature DOUBLE, Rainfall DOUBLE)")

cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall', 24.8, 346.0)")

cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")


cur.execute("INSERT INTO weather VALUES ('Ciaro', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO weather VALUES ('Ciaro', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO weather VALUES ('Ciaro', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO weather VALUES ('Ciaro', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute("SELECT * FROM weather")
cur.fetchall()

In [160]:
cur.fetchall()
cur.execute("SELECT * FROM weather")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.9),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 24.8, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Ciaro', 'Egypt', 'Winter', 13.6, 16.5),
 ('Ciaro', 'Egypt', 'Spring', 20.7, 6.5),
 ('Ciaro', 'Egypt', 'Summer', 27.7, 0.1),
 ('Ciaro', 'Egypt', 'Fall', 22.2, 4.5)]

In [196]:
# City, Country, Season, Temperature, Rainfall

print("**************************Answers to the questions**************************")

print("a.) All the temperature data ====>> ", end=" ")
cur.execute("SELECT Temperature FROM weather")
for record in cur: print(record[0], end=", ")
print()
cur.execute("SELECT City, Country, Temperature FROM weather")
print("a.) All the temperature data ====>> ")
for record in cur: print("{}, {}, {}".format(record[0],record[1],record[2]))
print()


print("b.) All the cities, without repetition ====>> ", end=" ")
cur.execute("SELECT DISTINCT City FROM weather")
for record in cur: print(record[0], end=" ")
cur.fetchall()
print()
print()

print("c.) All the records for India. ====>> ")
query = "SELECT * FROM weather WHERE Country='India'"
cur.execute(query)
for record in cur: print(record)

**************************Answers to the questions**************************
a.) All the temperature data ====>>  24.8, 28.4, 27.9, 24.8, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2,
a.) All the temperature data ====>>
Mumbai, India, 24.8
Mumbai, India, 28.4
Mumbai, India, 27.9
Mumbai, India, 24.8
London, United Kingdom, 4.2
London, United Kingdom, 8.3
London, United Kingdom, 15.7
London, United Kingdom, 10.4
Ciaro, Egypt, 13.6
Ciaro, Egypt, 20.7
Ciaro, Egypt, 27.7
Ciaro, Egypt, 22.2

b.) All the cities, without repetition ====>>  Mumbai London Ciaro

c.) All the records for India. ====>>
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.9)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 24.8, 346.0)

In [203]:
print("**************************Answers to the questions**************************")
print("d.) All the Fall records. ====>")
query = "SELECT * FROM weather WHERE Season='Fall'"
cur.execute(query)
for record in cur: print("{}".format(record))
print()


print("e.) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. ====>> ")
query = "SELECT City, Country, Season FROM weather WHERE Rainfall>200.0 and Rainfall<400.0"
cur.execute(query)
for record in cur: print(record)
print()


print("f.)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order ====>>")
query = "SELECT City, Country FROM weather WHERE Temperature>20 ORDER BY Temperature ASC"
cur.execute(query)
for record in cur: print(record)
print()

**************************Answers to the questions**************************
d.) All the Fall records. ====>
('Mumbai', 'India', 'Fall', 24.8, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Ciaro', 'Egypt', 'Fall', 22.2, 4.5)

e.) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. ====>>
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f.)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order ====>>
('Ciaro', 'Egypt')
('Ciaro', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')
('Ciaro', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')

In [208]:
print("g.) The total annual rainfall for Cairo. ====>>", end=" ")
query = "SELECT SUM(Rainfall) FROM weather WHERE City='Ciaro'"
cur.execute(query)
for record in cur: print(record[0])
print()

print("h.) The total rainfall for each season. ====>>")
query = "SELECT Season, SUM(Rainfall) FROM weather GROUP BY Season"
cur.execute(query)
for record in cur: print("Rainfall for {} is {}".format(record[0], record[1]))

g.) The total annual rainfall for Cairo. ====>> 27.6

h.) The total rainfall for each season. ====>>
Rainfall for Winter is 230.1
Rainfall for Spring is 193.0
Rainfall for Summer is 1706.5
Rainfall for Fall is 569.0

In [105]:
mydb.commit()
mydb.close()

In [107]:
cur.execute("Drop TABLE weather")

## Question 9
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [6]:
upperList = []
lowerList = []
lengthList = []
mixupList = []
filterList = []

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# for word in words:
#     upperList.append(word.upper())
#     lowerList.append(word.lower())
#     lengthList.append(len(word))
#     mixupList.append([word.upper(), word.lower(), len(word)])
#     if(len(word)>3): filterList.append(word)

upperList = [word.upper() for word in words]
lowerList = [word.lower() for word in words]
lengthList = [len(word) for word in words]
mixupList = [[word.upper(), word.lower(), len(word)] for word in words]
filterList = [ word for word in words if len(word)>3 ]

print("Answer a: ", upperList)
print("Answer b: ", lowerList)
print("Answer c: ", lengthList)
print("Answer d: ", mixupList)
print("Answer e: ", filterList)

Answer a:  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Answer b:  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Answer c:  [3, 5, 5, 3, 5, 4, 3, 4, 3]
Answer d:  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
Answer e:  ['quick', 'brown', 'jumps', 'over', 'lazy']